/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-image: url('../img/windows-11.png');
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Header */
.name {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    font-size: 1.5rem;
}

/* Main container */
.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Day blocks */
.schedule-box {
    background-color: rgb(4, 16, 60, 0.9);
    padding: 15px;
    border-radius: 10px;
}

.day-box h3 {
    color: #e0e0e0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.4rem;
}

/* Day schedule */
.schedule-box p {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 255, 55, 0.3);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.schedule-box .time {
    font-size: 0.9rem;
    color: #dcdcdc;
}

/* Social network icons */
.network {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.network img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

.network img:hover {
    transform: scale(1.2);
}

